

/*GENERAL*/

.button{
    font-size:1em;
    background:#0011fe;
}

.button:hover{
    background-color:#0000ca;
    cursor:pointer;
    color:white;
    
}
  

/*HEADER*/

.header {
    margin-top:1em;
}

.logo img {
    width:250px;
}
/*START BAR*/

.nav-item a {
    color: #0011fe;
    margin: 1em;
    font-size:18px;
    font-weight:bold;
}

.nav-item a:hover{
    font-weight: bold;
    color: #0000ca;
    cursor:pointer;
    text-decoration:none; 
    border-bottom:3px solid #0000ca;
}


/*SLIDER*/

.slider {
    margin-top:2em;
}

/* IMAGE SLIDER*/

.carousel-item img {
    width: 100%;
    height: 85vh;  
}

/* TEXT SLIDER*/

.slider-text {
    background-color:rgb(113, 72, 255, 0.2);
    color:white;
    text-align: center; 
    border-radius:50%;
    position: absolute;
    left:8%;
    top: 25%;
    z-index:1;
    width:20em;
    height:20em;    
}

.slider-text h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size:1.7em;
    margin-top:3.5em;
    
}

.slider-text button{
    float: right;
    font-size: 0.7em;
   

} 

/*SEARCHER*/
.searcher {
   margin-top:3em;
}
.searcher #search {
    width:40%;
} 

/*SERVICES*/
.services {
    margin-top:3em;  
}

.services-title h1 {
    font-family: 'Black Han Sans', sans-serif; 
    text-align:center;
    color:#7148ff;
}

.services-text {
    margin-top:1em;
    padding: 1em;
    box-shadow: 5px 5px 5px grey

}

.services-text h2 {
    text-align:center;
    margin-bottom:1em;
    color:#40acb6;
}

.services-text p {
    margin-top:1em;
    margin-bottom:2em;  
}

.services-text img {
    width:100%;
}

.secciones:hover{
    background-color:#33CEFF;
    cursor:pointer;
}

/*FOOTER*/
.footer {
    background-color:#333;
    color:white; 
    margin-top:2em 
}
.redes:hover{
    background-color:white;
    cursor:pointer;
}

.footer {
    font-size:0.8em;
}


@media (min-width:992px) and (max-width:1400px){
    
    .nav-item a {
        font-size:1.2em;
    }
    .slider-image img {
        height: 50vh;
    }
    .slider-text {
        background-color:rgb(113, 72, 255, 0.2);
        color:white;
        text-align:center; 
        border-radius:50%;
        position:absolute;
        left:8%;
        top: 34%;
        z-index:1;
        width:20em;
        height:20em;    
    }
    .slider-text h1 {
        font-size: 2em;
        font-family:'Noto Sans', sans-serif;
        margin-top:2.2em;
    }
    .searcher #search {
        height:3em ;
        width:50%;
    } 
    .button{
        height:2.5em;
        font-size:1.3em;
    }
    
    .service-text p {
        font-size:1.7em;
    }
    .service-text h2 {
        font-size:3em;
    }
    .services-title h1 {
        font-size:3em;
    }
    
    .footer {
        font-size:1.3em;
    }
    .footer .redes {
        height: 2em;
        width: 2em;
    }
}
@media (min-width:768px) and (max-width:991px){
    .slider-text {
        background-color:rgb(113, 72, 255, 0.2);
        color:white;
        text-align:center; 
        border-radius:50%;
        position:absolute;
        left:8%;
        top: 38%;
        z-index:1;
        width:14em;
        height:14em;    
    }

    .slider-text h1 {
        font-size: 1.5em; 
        font-family:'Noto Sans', sans-serif;
        margin-top:2em;
    }
    .slider-image img {
        width: 100%;
        height: 50vh;  
    }
    .service-text p {
        font-size:1.7em;
    }
    .navbar-toggler{
        z-index: 101;
        background-color:white;
    }
    #navbarNavDropdown {
        position: absolute;
        z-index: 100;
        text-align:center;
        width: 100%;
        margin-left:0em;
        background:#333333;
        top:0;
        height: 100vh;
        text-decoration:none;
    }
    .nav-item a{
        background:#333333;
        padding:1em;
        text-decoration:none;
        font-size: 1.6em;
        color: white;
        display: block;
        transition: 0.3s;
        position: relative;
        margin-top:0.5em;
        width: 100%;
        text-align: center;
    }   
    .nav-item a:hover {
        font-weight: bold;
        color: #0011fe;
        cursor:pointer;
        text-decoration:none; 
        border-bottom:none;
    }
}
@media (min-width:479px) and (max-width:767px) {

    .slider-text {
        background-color:rgb(113, 72, 255, 0.2);
        color:white;
        text-align:center; 
        border-radius:50%;
        position:absolute;
        left:10%;
        top: 42%;
        z-index:1;
        width:10em;
        height:10em;    
    }

    .slider-text h1 {
        font-size: 1em; 
        font-family:'Noto Sans', sans-serif;
        margin-top:2em;
    }
    .slider-image img {
        width: 100%;
        height: 50vh;  
    }

    .navbar-toggler{
        z-index: 101;
        background-color:white;
    }
    #navbarNavDropdown {
        position: absolute;
        z-index: 100;
        text-align:center;
        width: 100%;
        margin-left:0em;
        background:#333333;
        top:0;
        height: 100vh;
        text-decoration:none;
    }
    .nav-item a{
        background:#333333;
        padding: 20px;
        text-decoration:none;
        font-size: 18px;
        color: white;
        display: block;
        transition: 0.3s;
        position: relative;
        margin-top:0.5em;
        width: 100%;
        text-align: center;
    }   
    .nav-item a:hover {
        font-weight: bold;
        color: #0011fe;
        cursor:pointer;
        text-decoration:none; 
        border-bottom:none;

    }
        
}
@media (max-width:479px){

    .slider-text {
        background-color:rgb(113, 72, 255, 0.2);
        color:white;
        text-align:center; 
        border-radius:50%;
        position:absolute;
        left:10%;
        top: 42%;
        z-index:1;
        width:10em;
        height:10em;    
    }

    .slider-text h1 {
        font-size: 1em; 
        font-family:'Noto Sans', sans-serif;
        margin-top:2em;
    }
    .slider-image img {
        width: 100%;
        height: 50vh;  
    }

    .navbar-toggler{
        z-index: 101;
        background-color:white;
    }
    #navbarNavDropdown {
        position: absolute;
        z-index: 100;
        text-align:center;
        width: 100%;
        margin-left:0em;
        background:#333333;
        top:0;
        height: 100vh;
        text-decoration:none;
    }
    .nav-item a{
        background:#333333;
        padding: 20px;
        text-decoration:none;
        font-size: 18px;
        color: white;
        display: block;
        transition: 0.3s;
        position: relative;
        margin-top:0.5em;
        width: 100%;
        text-align: center;
        
    }   
    .nav-item a:hover {
        font-weight: bold;
        color: #0011fe;
        cursor:pointer;
        text-decoration:none; 
        border-bottom:none;

    }
}




