/*FOOTER*/
.footer {
    background-color:#333;
    color:white; 
    margin-top:2em; 
    font-size:0.8em;
}
.redes:hover{
    background-color:white;
    cursor:pointer;
}


@include respond-to ("md"){
.footer {
    font-size:1.3em;
    
    .redes {
        height: 2em;
        width: 2em;
        }
    }
}