/*HEADER*/

.header {
    margin-top:1em;
}

.logo img {
    width:250px;
}
/*START BAR*/

.nav-item a {
    color: #0011fe;
    margin: 1em;
    font-size:18px;
    font-weight:bold;
    
    &:hover{
        font-weight: bold;
        color: #0000ca;
        cursor:pointer;
        text-decoration:none; 
        border-bottom:3px solid #0000ca;
    }  
}

@include respond-to ("md"){
    
    .nav-item a {
        font-size:1.2em;
    }
}
@include respond-to ("sm"){
    .navbar-toggler{
        z-index: 101;
        background-color:white;
    }
    #navbarNavDropdown {
        position: absolute;
        z-index: 100;
        text-align:center;
        width: 100%;
        margin-left:0em;
        background:#333333;
        top:0;
        height: 100vh;
        text-decoration:none;
    }
    .nav-item a{
        background:#333333;
        padding:1em;
        text-decoration:none;
        font-size: 1.6em;
        color: white;
        display: block;
        transition: 0.3s;
        position: relative;
        margin-top:0.5em;
        width: 100%;
        text-align: center;
            
            &:hover {
                font-weight: bold;
                color: #0011fe;
                cursor:pointer;
                text-decoration:none; 
                border-bottom:none;
            }
        }   
}
@include respond-to ("xs"){
    .navbar-toggler{
        z-index: 101;
        background-color:white;
    }
    #navbarNavDropdown {
        position: absolute;
        z-index: 100;
        text-align:center;
        width: 100%;
        margin-left:0em;
        background:#333333;
        top:0;
        height: 100vh;
        text-decoration:none;
    }
    .nav-item a{
        background:#333333;
        padding: 20px;
        text-decoration:none;
        font-size: 18px;
        color: white;
        display: block;
        transition: 0.3s;
        position: relative;
        margin-top:0.5em;
        width: 100%;
        text-align: center;
            
            &:hover {
                font-weight: bold;
                color: #0011fe;
                cursor:pointer;
                text-decoration:none; 
                border-bottom:none;

            }
        }    
}
