/*SERVICES*/
.services {
    margin-top:2em;  

    .services-title{

        h1 {
            font-family: 'Black Han Sans', sans-serif; 
            text-align:center;
            color:#7148ff;
            font-size: 3em;
        }
    }

    .services-text {
        margin-top:1em;
        padding: 1em;
        box-shadow: 5px 5px 5px grey;

        h2 {
            text-align:center;
            margin-bottom:1em;
            color:#40acb6;
        }

        p {
            margin-top:1em;
            margin-bottom:2em;  
        }

        img {
            width:100%;
        }

        img:hover{
            background-color:#33CEFF;
            cursor:pointer;
        }
    }

    @include respond-to("md"){
        .service-text p {
            font-size:1.7em;
        }
        .service-text h2 {
            font-size:3em;
        }
        .services-title h1 {
            font-size:3em;
        }
    }

    @include respond-to("sm"){
        .service-text p {
            font-size:1.7em;
        }

    }
}
