/*SLIDER*/

.slider {
    margin-top:2em;

    .carousel-item img {
        width: 100%;
        height: 85vh;  
    }

    .slider-text {
        background-color:hsla(253, 100%, 64%, 0.3);
        border-radius:50%;
        position: absolute;
        left:8%;
        top: 25%;
        z-index:1;
        width:20em;
        height:20em;    
    
     h1 {
            font-family: 'Noto Sans', sans-serif;
            font-size:1.7em;
            margin-top:3.5em;
            color:hsl(0, 0%, 100%);
            text-align: center; 
        }   
    }

   .dropdown {
        position: absolute;
        right:8%;
        top: 25%;
        z-index:2;
            #dropdownMenuButton{
                background: hsl(185, 48%, 48%);
                width: 30em;
            }
        
            .dropdown-menu{
                color:hsl(253, 100%, 64%);
                width:30em;
                height:25em;
                margin-right:5em;
            }
            
        }
    @include respond-to("md"){
        
        .slider-image img {
            height: 50vh;
        }
        
        .slider-text {
            background-color:rgba (113, 72, 255, 0.2);
            color:white;
            text-align:center; 
            border-radius:50%;
            position:absolute;
            left:8%;
            top: 34%;
            z-index:1;
            width:400em;
            height:40em;  
          
        
            h1 {
                font-size: 1em;
                font-family:'Noto Sans', sans-serif;
                margin-top:2.2em;
            }
        }   
    }

    @include respond-to("xs") {

        .slider-text {
            background-color:rgba (113, 72, 255, 0.2);
            color:white;
            text-align:center; 
            border-radius:50%;
            position:absolute;
            left:10%;
            top: 42%;
            z-index:1;
            width:10em;
            height:10em;    
           
    
            h1 {
                font-size: 1.1em; 
                font-family:'Noto Sans', sans-serif;
                margin-top:2em;
            }
        }      
        .slider-image img {
            width: 100%;
            height: 50vh;  
        }

        .dropdown {
            position: absolute;
            z-index:2;
            
                #dropdownMenuButton{
                    background: hsl(185, 48%, 48%);
                    width: 100%;
                }
            
                .dropdown-menu{
                    color:hsl(253, 100%, 64%);
                    width:100%;
                    height:70vh;
                    margin-right:5em;
                }
                
            }
    }
}


