
/*GENERAL*/

.button{
    font-size:1em;
    background:#0011fe;
    
    &:hover{
        background-color:#0000ca;
        cursor:pointer;
        color:white;
    }

    @include respond-to("md"){
        height:2.5em;
        font-size:1.3em;
    }
}

img {
    max-width: 100%;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
        background-color: lighten($primary-color, 20);
        border-color: $primary-color;
    }
}
