//typography
$font-stack: 'Noto Sans', sans-serif;

//colors
$primary-color:hsl(236, 100%, 50%);
$primary-color-light:hsl(253, 100%, 64%);
$primary-color-dark:hsl(240, 100%, 40%);
$secondary-color:hsl(185, 48%, 48%);
$secondary-color-light:hsl(185, 71%, 69%);
$secondary-color-dark:hsl(184, 100%, 26%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey:	hsl(0, 0%, 20%);
$grey-light:hsl(0, 0%, 36%);

//style
$text-border: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;